.vet{
  width: 15%;
  height: 100%;
  padding:5% 20px 80px;
  text-align: center; 
  background: #312d2d;
  color:white;
  font-size: 1.8em;
  display: flex;
  flex-direction: column;
  overflow-y:scroll;
}

.vet input{
    padding: 10px 5px;
    margin-top:20px;
    width: 80%;
    border-radius:5px;
}

.vet ul{
    margin-top:50px;
}

.vet ul li>:last-child{
    font-size:0.5em;
}

.vet ul>:first-child{
    margin-bottom: 50px;
    cursor: default;
}

.vet ul li{
    margin-top: 30px;
    cursor:pointer;
    transition: 0.3s all ease;
}
.pet{
     text-align: start;
}
.pet:hover{
    transform: scale(1.1)
    translateX(30px)
}

.addpet{
    font-size: 1em;
    color:white;
    margin-bottom: 50px;
    cursor:pointer;
    transition:0.3s all ease;
}

.addpet:hover{
    transform: scale(1.1)
}

.add .radio{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.add{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.add form input{
    margin-top:0;
    margin-bottom: 30px;
}

.add form div.radio input{
    margin-top:3px;
    width: auto;
    margin-bottom: 0;
}

.add button{
    padding:10px 15px;
    border-radius:5px;
    font-size: 0.8em;
    margin-top:40px;
    cursor: pointer;
    transition:0.3s all ease;
    opacity: 1;
}

.add .fa{
    position:absolute;
    top:-2%;
    left:0;
    color:white;
    
}

.add button:hover{
    transform:scale(1.2);
}

