h4{
    text-align: center;
    font-size: 2.5em;
    margin:20px 0;
}

.consults{
width: 85%;
position: relative;
overflow-y:scroll;
height: 93vh;
}

.consults .container{
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    height: auto;

}
i.fa.fa-arrow-left{
    position: absolute;
    left:3%;
    top:3%;
    color:lightgrey;
    font-size:2em;
    transition:0.3s all ease;
    cursor: pointer;
}

i.fa.fa-arrow-left:hover{
    color:black;
    transform: scale(1.3)
}
.consults div.hilo{
     width:20%;
    height: 200px;
    /* border:1px solid black; */
    padding:30px;
    margin: 30px;
    font-size:2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0px 4px 0px grey;
    transition: 0.3s all ease;
    cursor: pointer;
}

.consults div.hilo:hover{
    transform: scale(1.1);
    box-shadow: 0 0px 14px 0px grey;
}

.containerdos{
    margin-top:40px;
}
.consults .containerdos .consulta{
    width:80%;
    margin:0 auto 80px;
    border-radius: 10px;
    padding: 0 5% 20px;
    box-shadow: 0 0px 4px 0px grey;
}
.consulta .fecha{
    display:flex;
    border: 1px  solid #312d2d;
    color: white;
    border-top:0;
    background: #312d2d;
    border-radius: 0 0 5px 5px;
    justify-content: space-between;
    padding: 10px 30px;
    font-size: 1.4em;

}


.description{
    margin-top:40px;
    font-size: 1.1em;
    line-height: 1.3em
}

.indications{
    margin-top:60px;
    margin-bottom: 20px;
    font-size: 1.1em;
    line-height: 1.3em
}
.consulta a{
    margin: 0 50%;
    font-size :1.5em;
    color:lightgrey;
    transition: 0.3s all ease;
}

.consulta a:hover{
    margin: 0 50%;
    font-size :1.5em;
    color:black;
}
.fa{
margin-top:40px;
}



div.form{
    width:100%;
    height:100%;
    transform:scale(1);
    position:absolute;
    top:-100%;
    left:0;
    transition:0.7s all ease;
    /* background: red; */
    z-index: 5;
}
div.form.show{
    top:0;
    transform: scale(1);
}

div.form .filtro{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
}
.form form{
    width:30%;
    position: absolute;
    top:20%;
    left: 35%;
    z-index: 6;
    padding: 50px;
    background:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:1.5em;
}
.form .fa{
    color:white;
    font-size: 3em;
    position: fixed;
    top:3%;
    right:10%;
}
.form form input{
    width:80%;
    padding:10px 15px;
    font-size:1em;
    margin: 20px 0 0;
    border:1px solid lightgrey;
}

.form input[type="submit"]{
    width:50%;
    padding:5px 7px;
    font-size:0.8em;
    transition: 0.3s all ease;
}

.form input[type="submit"]:hover{
    background:rgba(51,109,233,1);
    color:white;
    transform:scale(1.1);
}


h5{
    text-align: center;
    font-size: 1.2em;
    cursor:pointer;
}


@media print {
   .consulta .fecha{
    display:flex;
    border: 1px  solid #312d2d;
    color: white;
    border-top:0;
    background: #312d2d;
   border-radius: 0;
    justify-content: space-between;
    padding: 10px 30px;
    font-size: 1.4em;

}

.description{
    padding:0 50px;
}

.indications{
   padding:0 50px;
}
.fa {
    display: inline-block;
    color: transparent;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

}
